
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChatApp</title>

    <link href="~/Css/messangerStyleSheet.css" rel="stylesheet" />

    <link rel="icon" href="~/Tools/Images/SiteLogo.png" />

    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <script src="~/lib/font-awesome/js/all.min.js"></script>
</head>

<body>
    <div class="navbar navbar-one">
        <div>
            <a asp-controller="Profile" asp-action="Profile" id="webSiteLogo"><img width="50" height="50" src="~/Tools/Images/MarsLogo.png" alt="Mars Logo"></a>
        </div>

        <div class="navbarIcons">
            <span class="navbarIcon"><a href="/Forum/Forum" title="Forum"> <i class="fa fa-home navbarIcon" aria-hidden="true"></i></a></span>
            <span class="navbarIcon"><a href="/Profile/Profile" title="Profile"> <i class="fa fa-user navbarIcon" aria-hidden="true"></i></a></span>
            <span class="navbarIcon"><a href="/Friends/Friends" title="Friends"> <i class="fa fa-users navbarIcon" aria-hidden="true"></i></a></span>
            <span class="navbarIcon"><a href="/Messanger/Index" title="Messanger"> <i class="fa fa-envelope navbarIcon" aria-hidden="true"></i></a></span>
        </div>



        <div class="identityUsername">
            <a href="/Profile/Profile">@User.Identity.Name</a>

            <form asp-controller="LogIn" asp-action="LogOut" class="logout-form">
                <button class="logout-btn">
                    <i class="fa fa-sign-out-alt" aria-hidden="true"></i> Log Out
                </button>
            </form>
        </div>
    </div>




    <div class="navbar navbar-two">
        <a href="/Messanger/Index">Home</a>
        <a asp-controller="Messanger" asp-action="Find">Find</a>
        <a asp-controller="Messanger" asp-action="Private">Private</a>


    </div>

    <div class="main">
        @if (User.Identity.IsAuthenticated)
        {
            <vc:room></vc:room>
        }
        <div class="chat">
            @RenderBody()
        </div>
    </div>

    <div class="modal" id="create-room-modal">
        <form asp-controller="Messanger" asp-action="CreateRoom" class="modal-body">
            <button type="button" class="close" onclick="closeModal()">X</button>
            <header>Create Room</header>
            <div>
                <input name="name">
            </div>
            <footer>
                <button>Create</button>
            </footer>
        </form>
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/Js/MessangerJavaScript.js"></script>
    @RenderSection("Scripts", false)

</body>

</html>
