@model MailVerificationModel
@{
    Layout = "_Layout";
}
<main>
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">

            @if (Model.Puropse != MailVerificationPurposeEnum.EmailVerification)
            {

            <form id="recPassword" class="form-group input-group">
                <div class="input-group">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    <input name="newPassword" class="form-control" placeholder="Password" type="password" required />
                </div>

                <div class="input-group">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    <input name="confirmPassword" class="form-control" placeholder="Confirm Password" type="password" required />
                </div>

                <div class="displayRegistrationErrors" id="displayErrors">


                </div>

                <div class="input-group create-account-btn-div">
                    <input type="hidden" name="Email" value="@Model.Email" />
                    <button type="button" id="recPasswordButton" class="btn btn-primary btn-block">Recover</button>
                </div> <!-- form-group// -->
            </form>



            }
            else
            {
        <form id="findEmailToRecoverPassword" class="form-group input-group">
            <h3 class="card-title mt-3 text-center">Enter Email: </h3>
            <div class="input-group">
                <span class="input-group-text"> <i class="fa fa-envelope" aria-hidden="true"></i> </span>
                <input name="Email" class="form-control" placeholder="Email" type="email" required />
            </div>
            <div class="input-group create-account-btn-div">
                <button type="button" id="recoverPassword" class="btn btn-primary btn-block">Submit</button>
            </div> <!-- form-group// -->
        </form>
            }
        </article>
    </div>





</main>