@model MailVerificationModel
@{
    Layout = "_Layout";
    
}

<main>
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">

            <form asp-controller="LogIn" asp-action="EmailVerification" method="post" class="form-group input-group">
                <h5 class="card-title mt-3 text-start">Enter the verification code sent to  @Model.Email</h5>
                <div class="input-group">
                    <input type="hidden" asp-for="SentCode" value="@Model.SentCode" />
                    <input type="hidden" asp-for="Email" value="@Model.Email" />
                    <input type="hidden" asp-for="Puropse" />
                    <span class="input-group-text"> <i class="fa fa-key" aria-hidden="true"></i> </span>
                    <input type="text" asp-for="WrittenCode" class="form-control" placeholder="Code" required  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"/>
                </div> <!-- form-group// -->
                <div class="input-group create-account-btn-div">
                    <button type="submit"  class="btn btn-primary btn-block">Submit</button>
                </div> <!-- form-group// -->
            </form>
        </article>
    </div>
</main>